body {
    background: #232323;
    color: #dfdfdf;
    font-family: 'Lato', sans-serif;
}

md-sidenav.nav-menu {
    font-weight: 300;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    background: transparent;
}

md-sidenav.nav-menu.full {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

.nav-menu ul {
    list-style: none;
    border: none;
    padding: 0;
    margin: 0;
}

.nav-menu ul li {
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle;
    border-left: 3px solid #d7d8da;
}

.nav-menu ul li:hover,
.nav-menu ul li.nav-active {
    background: #373737;
    border-left: 3px solid #aa6ca8;
}

.nav-menu ul li a {
    display: block;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    color: #dfdfdf;
    font-size: 18px;
    cursor: default;
}

.nav-menu.full ul li a {
    padding: 10px 20px;
    margin: 0;
    text-align: inherit;
}

.nav-menu ul li:hover a,
.nav-menu ul li.nav-active a {
    color: #aa6ca8;
}

#nav-logo {
    margin: auto;
}

#nav-logo .logo {
    width: 32px;
    height: 32px;
    padding: 16px 0;
    margin: auto;
    outline: 0;
}

#nav-logo .logo.full {
    width: 64px;
    height: 64px;
    padding: 32px 0;
}

#nav-logo md-icon.logo {
    cursor: pointer;
}

md-content.content {
    background: transparent;
    color: #dfdfdf;
    font-family: 'Lato', sans-serif;
}
